<% extend("../mainadmin.ejs") %>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <p>ĐÂY LÀ TRANG HOME</p>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>